.DS_Store
DONE/Sonya/test
DONE/destinations.txt
DONE/file.txt
DONE/input.txt
DONE/output_from_Kris.txt
DONE/output_from_Sonya.txt
Kris's work/input.txt
Kris's work/output_from_Kris.txt
Kris's work/output_from_Sonya.txt
DONE/DataBase/HASH/GK_hash.txt
DONE/DataBase/HASH/LK_hash.txt
DONE/DataBase/HASH/NK_hash.txt